<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.UserMapper">
	<sql id="user_colums">
		id,userName,userAddress
	</sql>
	<!-- 自定义结果集，查询中不能用select *，查询单表时优先使用自动映射 -->
	<resultMap type="com.exam.pojo.User" id="userMap">
		<id property="id" column="id"></id>
		<result property="userName" column="userName" />
		<result property="userAddress" column="userAddress" />
	</resultMap>

	<update id="updateById" parameterType="int">
		update user
		<set>
			<if test="userName!=null">
				userName=#{userName},
			</if>
			<if test="userAddress!=null">
				userAddress=#{userAddress},
			</if>
			<if test="userAge!=null">
				userAge=#{userAge},
			</if>
			<if test="sex!=null">
				sex=#{sex}
			</if>
		</set>
		where id=#{id}
	</update>

	<select id="selectToWhere" resultType="user">
		select
		<include refid="user_colums" />
		from user
		<where>
			<if test="userName!=null">
				and userName=#{userName}
			</if>
			<if test="userAddress!=null">
				and userAddress=#{userAddress}
			</if>
		</where>
	</select>

	<!-- 参数javabean -->
	<select id="paramsToBean" resultType="User">
		select
		id,userName,userAddress
		from user where userName=#{userName} and
		userAddress=#{userAddress}
	</select>

	<!-- 参数注解 -->
	<select id="paramsToAnnotation" resultMap="userMap">
		select
		id,userName,userAddress
		from user where userName=#{userName} and
		userAddress=#{userAddress}
	</select>

	<!-- 参数map -->
	<select id="paramsToMap" parameterType="map" resultMap="userMap">
		select
		id,userName,userAddress
		from user where userName=#{userName} and
		userAddress=#{userAddress}
	</select>

	<select id="countLikeName" parameterType="string" resultType="int">
		select count(*) from user where userName like concat(#{name},'%')
	</select>

	<select id="selectByID" parameterType="int" resultType="user">
		select *
		from user where id = #{id}
	</select>

	<!-- useGeneratedKeys：使用数据库主键生成策略 keyProperty：设置主键字段 insert数据后，主键会回填到JavaBean中 -->
	<insert id="insert" parameterType="User" useGeneratedKeys="true"
		keyProperty="id">
		insert into
		user(userName,userAge,userAddress)
		values(#{userName},#{userAge},#{userAddress})
	</insert>

	<update id="update" parameterType="User">
		update user set
		userName=#{userName},userAge=#{userAge},userAddress=#{userAddress}
		where id=#{id}
	</update>

	<delete id="delete">
		delete from user where id=#{id}
	</delete>
</mapper>