<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuneke.debuglog.mapper.AppDebugLogMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,user_id,merchant_id,type,detail,create_time
    </sql>


    <select id="selectAll" resultType="com.yuneke.model.debuglog.AppDebugLog">
        SELECT * FROM app_debug_log
    </select>
</mapper>